*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
}

html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

dl,
dd,
ul,
ol {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-align: inherit;
  appearance: none;
  cursor: pointer;
}

picture {
  display: block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

img {
  object-fit: cover;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  min-width: 0;
  border: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}
